In [3]:
%%writefile zoo.py
def hours():
    print("Open 9-5 daily")

Writing zoo.py

In [5]:
import zoo
zoo.hours()

Open 9-5 daily

In [7]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)

In [5]:
data = '''author,book
J R R Tolkien,The Hobbit
Lynne Truss,"Eats, Shoots & Leaves"'''

with open('books.csv', 'w') as f:
    f.write(data)

In [7]:
import csv

with open('books.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    books = [row for row in reader]

# Print the values in books
for book in books:
    print(book)

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [9]:
data2 = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books2.csv', 'w') as f:
    f.write(data2)

In [11]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Create the books table
c.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

In [13]:
with open('books2.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    # Insert data into the database
    conn = sqlite3.connect('books.db')
    c = conn.cursor()

    for row in reader:
        c.execute('''
            INSERT INTO books (title, author, year)
            VALUES (?, ?, ?)
        ''', (row['title'], row['author'], row['year']))

    conn.commit()
    conn.close()

In [15]:
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Query the title column ordered alphabetically
c.execute('SELECT title FROM books ORDER BY title ASC')
titles = c.fetchall()

for title in titles:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [17]:
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Query all columns ordered by year
c.execute('SELECT * FROM books ORDER BY year ASC')
books = c.fetchall()

for book in books:
    print(book)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [25]:
from sqlalchemy import create_engine, Table, MetaData, select

# Create the engine to connect to the SQLite database
engine = create_engine('sqlite:///books.db')

# Create a metadata object to store information about the database
metadata = MetaData()

# Reflect the existing database into the books table
books = Table('books', metadata, autoload_with=engine)

# Create a select query for the title column
stmt = select(books.c.title).order_by(books.c.title.asc())

# Execute the query and print the results
with engine.connect() as connection:
    result = connection.execute(stmt)
    for row in result:
        print(row[0])  # Access the first column (title) using index 0

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [27]:
# Create a select query to get all columns and order by year
stmt = select(books).order_by(books.c.year.asc())

# Execute the query and print the results
with engine.connect() as connection:
    result = connection.execute(stmt)
    for row in result:
        print(row)  # This prints all columns for each row

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [29]:
# Create the select query for the title column, ordered alphabetically
stmt = select(books.c.title).order_by(books.c.title.asc())

# Execute the query and print the results
with engine.connect() as connection:
    result = connection.execute(stmt)
    for row in result:
        print(row[0])  # Access the title using index 0

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!